<% include partials/_header.ejs %> 
  
  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <img class="logo" src="/images/fedora-hat.png">
      <span class="header">elFedora</span>
      <span class="contact d-md-block d-none">403-567-8970<br>235 12th Ave SW<br>Calgary, AB</span>
    </nav>

    <!-- Page-specific (main) content here -->
    <div class="hero-image">
      <div class="hero-text">
        <h1>HUNGER OFFICIALLY BUSTED</h1>
        <H3>TAKE-OUT</H3>
        <a href="#menu"><BUTTON type=button class="btn btn-outline-light">ORDER NOW</BUTTON></a>
      </div>
    </div>
    <div class="spacer">
      <a id="menu">&nbsp; &nbsp;</a>
    </div>
    
    <section class="menu-container"> 
        <center><h2 style="display:none">MENU</h2></a></center>

      <div class="row">
        <div class="col-3-left">
            <center><p>Menu</p></center>
            <ul>
              <p>
                  <a href="#menu-wrapper">Tapas</a>
              </p>
              <p>
                  <a href='#10'>Soups</a>
              </p>
              <p>
                  <a href='#12'>Salads</a>
              </p>
              <p>
                  <a href='#14'>Quesadillas</a>
              </p>
              <p>
                  <a href='#17'>Tacos</a>
              </p>
              <p>
                  <a href='#20'>Tortas</a>
              </p>
              <p>
                  <a href='#24'>Enchiladas</a>
              </p>
              <p>
                  <a href='#27'>Mains</a>
              </p>
            </ul>
        </div>

        <div class="col-6" id="menu-wrapper">
          <h4>Allergies & Intolerences</h4>
          <p>If you have any allergies and intolerences please contact us directly.</p>
<!-- Food Items Go Here loaded from app.js -->
        </div>
        <div class="col-3-right">
            <center>
                <h4>Your Cart</h4>
              <img id="logoBag" width="80%" src="/images/OurBag.png">
              <br>
              <h6 id="build-order" style="color: #8D9499;">Start adding items from the menu to build your order.</h6>
            </center>
              <div class="appendCart"></div>
              <span id='totalText' style="display:none">
                Total Price:  </span>
                <span id="totalPrice" style="display:none">$0.00</span>
             
    
              <form id="customerInfo" style="display:none; margin-top:2em;">
                  <div class="form-group">
                    <input type="name" class="form-control" id="InputName"  placeholder="Enter Your Name">
                    <div id="nameError" class="alert alert-danger" style="display:none; margin-top:1em;">Please enter a name!</div>
                  </div>
                  <div class="form-group">
                    <input type="phoneNumber" class="form-control" id="InputPhoneNumber" placeholder="Enter Phone Number">
                    <div id="phoneError" class="alert alert-danger" style="display:none; margin-top:1em;">Please enter a valid phone number - including area code.</div>
                  </div>
                <center><button style="display:none" id="checkout" type="submit" class="btn btn-danger">CHECK OUT</button></center>
                </form>
    
    
                <div class="loading" style="display:none;">
                  
                  <center><h6>Please wait for us to respond!</h6></center>
                    <br>
                  </center><img style="max-width: 90%; max-height: 90%; display: block; margin-left: auto; margin-right: auto;" src="/images/loading.gif"></center>
                  
                  </div>

        </div>
      </div>

    </section>

    <a href="#0" class="cd-top js-cd-top">Top</a>

    </body>
    <footer>
      <div class="row">
        <div class="col-footer">
          <h4>Location</h4>
          <p>235 12th Ave SW</p>
          <p>Calgary, AB</p>
          <p>Canada</p>
        </div>
        <div class="col-footer">
            <h4>Hours</h4>
            <h6>Sunday - Thursday</h6>
            <p>11:30am — 11:00pm</p>
            <h6>Friday — Saturday</h6>
            <p>11:30am — 1:00am</p>
      </div>
    </footer>
</html>
