<% include partials/_header.ejs %> 
  
  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <img class="logo" src="/fedora-hat.png">
      <span class="header">elFedora</span>
      <span class="contact">403-567-8970</span>
    </nav>

    <!-- Page-specific (main) content here -->
    <div class="hero-image">
      <div class="hero-text">
        <h1>HUNGER BUSTED</h1>
        <H3>TAKE-OUT</H3>
        <a href=""><BUTTON>ORDER NOW</BUTTON></a>
      </div>
    </div>

    </body>
</html>
