<% include partials/_header.ejs %> 
  
  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <img class="logo" src="/images/fedora-hat.png">
      <span class="header">elFedora</span>
      <span class="contact">403-567-8970</span>
    </nav>

    <!-- Page-specific (main) content here -->
    <div class="hero-image">
      <div class="hero-text">
        <h1>HUNGER OFFICIALLY BUSTED</h1>
        <H3>TAKE-OUT</H3>
        <a href="#menu"><BUTTON type=button class="btn btn-outline-light">ORDER NOW</BUTTON></a>
      </div>
    </div>

    <section class="menu-container">
        <center><a id="menu"><h2 style="display:none">MENU</h2></a></center>

      <div class="row">
        <div class="col-3-left">
            <center><p>Anchor Tags Here</p></center>
            <ul>
              <li>Appetizers</li>
              <li>Entres</li>
              <li>Dessert</li>
            </ul>
        </div>

        <div class="col-6" id="menu-wrapper">
          <h4>Allergies & Intolerences</h4>
          <p>If you have any allergies and intolerences please contact us directly.</p>
<!-- Food Items Go Here loaded from app.js -->
        </div>
        <div class="col-3-right">
          <center>
            <h4>Your Cart</h4>
          <img id="logoBag" width="80%" src="/images/OurBag.png">
          <br>
          <h6 id="build-order" style="color: #8D9499;">Start adding items from the menu to build your order.</h6>
        </center>
          <div class="appendCart"></div>
          <h6 id="totalPrice" style="display:none">$0.00</h6>
          <center><button id="checkout" style="display:none" type=button class="btn btn-danger">CHECK OUT</button></center>

        </div>
      </div>

    </section>

    </body>
    <footer>
      <div class="row">
        <div class="col-footer">
          <h6>Location</h6>
          <p>235 12th Ave SW</p>
          <p>Calgary, AB</p>
          <p>Canada</p>
        </div>
        <div class="col-footer">
            <h6>Hours</h6>
            <p>Sunday - Thursday</p>
            <p>11:30am — 11:00pm</p>
            <p>Friday — Saturday</p>
            <p>11:30am — 1:00am</p>
      </div>
    </footer>
</html>
