<% include partials/_header.ejs %> 
  
  <body>

    <!-- Top nav bar (fixed) -->
    <nav id="nav-bar">
      <img class="logo" src="/images/bird.png">
      <span class="header">Tweeter</span>
      <button class="composeTweet"><i class="far fa-edit"></i> Compose</button>
    </nav>

    <!-- Page-specific (main) content here -->
    <main class="container">
        
        <section class="new-tweet" style="display:none">
            <h2>Compose Tweet</h2>
            <div id="exceedChar" class="alert alert-danger" role="alert" style="display:none">
                You are exceeding the character limit. Please try again!
            </div>
            <div id="serverAlert" class="alert alert-primary" role="alert" style="display:none">
                Something went wrong, please try again!
            </div>
            <form id="submitTweet" action="/tweets/" method="POST">
              <textarea id="text" name="text" placeholder="What are you humming about?" autofocus></textarea>
              <input type="submit" value="Tweet">
              <span class="counter">140</span>
            </form>
          </section>

        <section class="tweet-container">
          <!-- Loads tweets from app.js -->
        </section>

    </main>

    </body>
</html>
