.menu-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;

  .food-price {
    float: right;
    text-align: right;
    font-size: 110%;
    font-weight: 700;
  }

  .food-item {
    font-size: 110%;
    font-weight: 700;
  }

  .food-name {
    border-top: 1px solid #bdb2a5;
    padding: 1em;
  }

  .food-description {
    padding: 1em;
  }

  .cart-item {
    font-weight: 500;
    border-bottom: 1px solid #bdb2a5;
    padding-top: 1em;
    padding-bottom: 1.5em;
  }
}




