.menu-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;

  .food-price {
    float: right;
    text-align: right;
    font-size: 110%;
    font-weight: 700;
  }

  .food-item {
    font-size: 110%;
    font-weight: 700;
  }

}

