$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$background-color: #bdb2a5;

body {
  background-color: #EEE;
  height: 100%;
}


.col-3-left {
  width: 15%;
  height: 100%; 
  position: relative; 
  left: 0;
  background-color: #fff;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  padding-top: 1em;

  a {
    color: grey;
    font-family: helvetica;
    font-weight: 500;
    font-size: 1.05em;
  }
  
  a:hover {
    text-decoration: none;
    border-left: 3px solid red;
    padding-left: 10px;
    color: black;
    font-weight: 700;
  }
  
  a:active {
    color: black;
  }


}


.col-3-right {
  width: 30%;
  height: 100%; 
  position: relative; 
  left: 0;
  background-color: #fff;
  border-radius: 0.5em;
  padding: 3em 1em 3em 1em;
  margin-left: 2em;
}

.col-6 {
  width: 50%;
  background-color: #fff;
  padding-top: 2em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  padding-left: 4em;
  padding-right: 4em;
}

footer {
  background-color: #3c342f;
  height: 20em;
  color: #fff;
  margin: auto;

  .col-footer {
    padding: 3em;
    width: 30%;
    margin: auto;
  }
  
}




