#nav-bar {
  position: fixed;
  height: 6em;
  width: 100%;
  padding-right: 3em;
  padding-left: 3em;
  z-index: 1;
  opacity: 1;

  .header {
    font-family: 'Homemade Apple', cursive;
    color: #ffffff;
    font-size: 200%;
  }
  
  .logo {
    width: 4em;
    height: 4em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  
  .contact {
    float: right;
    padding: 0.5em;
    color: #fff;
  }

}